body {
  margin: 0;
  font-family: "Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #232323;
  color: #d2f769;
}
@media screen and (max-width: 500px) {
  body {
    padding: 3px;
  }
}

.App-header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  background-color: #232323;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #555555;
  z-index: 1;
}
@media screen and (max-width: 500px) {
  .App-header {
    height: 20px;
  }
}
.App-header .headerAndSpaceContainer {
  display: flex;
  flex-direction: row;
}
.App-header .headerAndSpaceContainer .appHeaderText {
  font-size: 18px;
  color: #d2f769;
  margin-left: 40px;
  margin-right: 10px;
}
@media screen and (max-width: 900px) {
  .App-header .headerAndSpaceContainer .appHeaderText {
    font-size: 12px;
    margin-left: 20px;
    text-wrap: nowrap;
  }
}
@media screen and (max-width: 500px) {
  .App-header .headerAndSpaceContainer .appHeaderText {
    font-size: 1.4vh;
    margin-left: 15px;
  }
}
.App-header .buttonContainer {
  display: flex;
}
@media screen and (max-width: 900px) {
  .App-header .buttonContainer {
    margin-right: 60px;
  }
}
.App-header .buttonContainer .headerButton {
  background-color: transparent;
  width: 160px;
  border: none;
  color: #d2f769;
  padding: 10px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}
@media screen and (max-width: 900px) {
  .App-header .buttonContainer .headerButton {
    width: -moz-fit-content;
    width: fit-content;
    white-space: nowrap;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 12px;
    margin-left: 2%;
    margin-right: 2%;
  }
}
@media screen and (max-width: 500px) {
  .App-header .buttonContainer .headerButton {
    width: -moz-fit-content;
    width: fit-content;
    white-space: nowrap;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.4vh;
    margin-left: 2%;
    margin-right: 2%;
  }
}
.App-header .buttonContainer .headerButton:hover {
  text-decoration: underline;
  font-weight: bold;
}

.availableTagsContainer {
  position: fixed;
  top: 100px;
  width: 100%;
  background-color: #232323;
  display: flex;
  flex-direction: row;
  margin: 10px;
  z-index: 1;
  padding: 10px 0;
}
@media screen and (max-width: 900px) {
  .availableTagsContainer {
    top: 70px;
  }
}
@media screen and (max-width: 500px) {
  .availableTagsContainer {
    top: 76px;
  }
}
.availableTagsContainer .tagButton {
  background-color: #232323;
  color: white;
  border-radius: 10px;
  height: 30px;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #555555;
}
.availableTagsContainer .tagButton.active {
  background-color: #d2f769;
  color: #232323;
}
@media screen and (max-width: 900px) {
  .availableTagsContainer .tagButton {
    font-size: 10px;
    width: 140px;
    height: 20px;
  }
}
@media screen and (max-width: 500px) {
  .availableTagsContainer .tagButton {
    border-radius: 5px;
    font-size: 0.7vh;
    width: 90px;
    height: 12px;
    padding: 1px;
  }
}

.basicPageComponent {
  margin-top: 170px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 500px) {
  .basicPageComponent {
    margin-top: 135px;
  }
}
.basicPageComponent .submenu {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 30px;
  background-color: #232323;
  z-index: 1;
}
@media screen and (max-width: 500px) {
  .basicPageComponent .submenu {
    flex-direction: column;
    top: 20px;
  }
}
.basicPageComponent .submenu .logoSubtitleContainer {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
}
.basicPageComponent .submenu .logoSubtitleContainer .mainLogo {
  padding-left: 10%;
  height: 60px;
  margin: 10px;
}
@media screen and (max-width: 900px) {
  .basicPageComponent .submenu .logoSubtitleContainer .mainLogo {
    height: 30px;
  }
}
@media screen and (max-width: 500px) {
  .basicPageComponent .submenu .logoSubtitleContainer .mainLogo {
    height: 20px;
    margin: 3px;
    padding-left: 0;
    margin-left: 8px;
  }
}
.basicPageComponent .submenu .logoSubtitleContainer .subtitle {
  width: 300px;
  text-align: left;
  font-size: 26px;
  color: #d2f769;
  font-weight: bold;
  margin: 10px;
}
.basicPageComponent .submenu .logoSubtitleContainer .subtitle span {
  font-size: 16px;
}
@media screen and (max-width: 900px) {
  .basicPageComponent .submenu .logoSubtitleContainer .subtitle {
    width: 25vw;
    font-size: 12px;
  }
  .basicPageComponent .submenu .logoSubtitleContainer .subtitle span {
    font-size: 2vh;
  }
}
@media screen and (max-width: 500px) {
  .basicPageComponent .submenu .logoSubtitleContainer .subtitle {
    width: 50vw;
    font-size: 1.7vh;
  }
  .basicPageComponent .submenu .logoSubtitleContainer .subtitle span {
    font-size: 1.2vh;
  }
}
.basicPageComponent .submenu .sortReloadContainer {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  height: 80px;
}
@media screen and (max-width: 900px) {
  .basicPageComponent .submenu .sortReloadContainer {
    height: 50px;
  }
}
@media screen and (max-width: 500px) {
  .basicPageComponent .submenu .sortReloadContainer {
    height: 30px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 900px) {
  .basicPageComponent .submenu .sortReloadContainer .sortText {
    font-size: 11px;
  }
}
@media screen and (max-width: 500px) {
  .basicPageComponent .submenu .sortReloadContainer .sortText {
    font-size: 1.2vh;
  }
}
.basicPageComponent .submenu .sortReloadContainer .sortDropdown {
  background-color: #232323;
  color: white;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  margin-left: 5px;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .basicPageComponent .submenu .sortReloadContainer .sortDropdown {
    font-size: 11px;
    width: 90px;
    height: 20px;
  }
}
@media screen and (max-width: 500px) {
  .basicPageComponent .submenu .sortReloadContainer .sortDropdown {
    font-size: 1.2vh;
    width: 80px;
    height: 16px;
  }
}
.basicPageComponent .submenu .sortReloadContainer .reloadButton {
  background-color: #232323;
  color: #d2f769;
  border-radius: 5px;
  height: 30px;
  width: 140px;
  margin-left: 10px;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .basicPageComponent .submenu .sortReloadContainer .reloadButton {
    font-size: 2vh;
    width: 90px;
    height: 20px;
  }
}
@media screen and (max-width: 500px) {
  .basicPageComponent .submenu .sortReloadContainer .reloadButton {
    font-size: 1vh;
    width: 80px;
    height: 16px;
  }
}
.basicPageComponent .loading {
  width: 100%;
  text-align: center;
}
.basicPageComponent .tilesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  width: 95%;
  background-color: #2b2b2b;
  border-radius: 10px;
  padding: 10px;
}
@media screen and (max-width: 500px) {
  .basicPageComponent .tilesContainer {
    width: 95%;
    padding: 3px;
  }
}
.basicPageComponent .tilesContainer .newsTile {
  display: flex;
  width: 47%;
  max-height: 320px;
  margin-top: 20px;
  background-color: #232323;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 10px;
}
.basicPageComponent .tilesContainer .newsTile:hover {
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  background-color: #484848;
}
@media screen and (max-width: 1227px) {
  .basicPageComponent .tilesContainer .newsTile {
    width: 95%;
    padding: 4px;
  }
}
@media screen and (max-width: 500px) {
  .basicPageComponent .tilesContainer .newsTile {
    min-height: 200px;
  }
}
.basicPageComponent .tilesContainer .newsTile .newsTileLeftPart {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 20px 10px;
}
@media screen and (max-width: 500px) {
  .basicPageComponent .tilesContainer .newsTile .newsTileLeftPart {
    width: 40%;
    padding: 3px;
  }
}
.basicPageComponent .tilesContainer .newsTile .newsTileLeftPart img {
  border-radius: 10px;
  filter: grayscale(100%);
  width: 90%;
}
.basicPageComponent .tilesContainer .newsTile .newsTileLeftPart img.hover {
  filter: grayscale(0);
}
@media screen and (max-width: 500px) {
  .basicPageComponent .tilesContainer .newsTile .newsTileLeftPart img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    -o-object-position: left;
       object-position: left;
  }
}
.basicPageComponent .tilesContainer .newsTile .newsTileRightPart {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
}
.basicPageComponent .tilesContainer .newsTile .newsTileRightPart p {
  margin: 0px;
}
.basicPageComponent .tilesContainer .newsTile .newsTileRightPart .newsTileTitle {
  font-size: 20px;
  font-weight: bold;
  color: #d2f769;
}
@media screen and (max-width: 500px) {
  .basicPageComponent .tilesContainer .newsTile .newsTileRightPart .newsTileTitle {
    font-size: 1.7vh;
  }
}
.basicPageComponent .tilesContainer .newsTile .newsTileRightPart .newsTileTitle.hover {
  color: white;
}
.basicPageComponent .tilesContainer .newsTile .newsTileRightPart .dateAndOriginContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.basicPageComponent .tilesContainer .newsTile .newsTileRightPart .dateAndOriginContainer .newsTileDate,
.basicPageComponent .tilesContainer .newsTile .newsTileRightPart .dateAndOriginContainer .newsTileOrigin {
  font-size: 12px;
  font-style: italic;
  color: #555555;
}
.basicPageComponent .tilesContainer .newsTile .newsTileRightPart .dateAndOriginContainer .newsTileDate.hover,
.basicPageComponent .tilesContainer .newsTile .newsTileRightPart .dateAndOriginContainer .newsTileOrigin.hover {
  color: white;
}
@media screen and (max-width: 500px) {
  .basicPageComponent .tilesContainer .newsTile .newsTileRightPart .dateAndOriginContainer .newsTileDate,
  .basicPageComponent .tilesContainer .newsTile .newsTileRightPart .dateAndOriginContainer .newsTileOrigin {
    font-size: 1vh;
  }
}
.basicPageComponent .tilesContainer .newsTile .newsTileRightPart .newsTileContent {
  margin-top: 20px;
  font-size: 16px;
  max-height: 150px;
  margin-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  color: white;
  -webkit-line-clamp: 6; /* number of lines to show */
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
}
@media screen and (max-width: 500px) {
  .basicPageComponent .tilesContainer .newsTile .newsTileRightPart .newsTileContent {
    font-size: 1.5vh;
    margin-top: 3px;
    margin-right: 2px;
    min-height: 140px;
    max-height: 200px;
    margin-bottom: 2%;
    -webkit-line-clamp: 12; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}
.basicPageComponent .tilesContainer .newsTile .newsTileRightPart .favouriteImgContainer {
  position: absolute;
  align-self: flex-end;
  bottom: 5px;
  right: 10px;
}
@media screen and (max-width: 500px) {
  .basicPageComponent .tilesContainer .newsTile .newsTileRightPart .favouriteImgContainer {
    bottom: 1px;
    right: 2px;
  }
}
.basicPageComponent .tilesContainer .newsTile .newsTileRightPart .favouriteImgContainer .favouriteImg {
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 900px) {
  .basicPageComponent .tilesContainer .newsTile .newsTileRightPart .favouriteImgContainer .favouriteImg {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 500px) {
  .basicPageComponent .tilesContainer .newsTile .newsTileRightPart .favouriteImgContainer .favouriteImg {
    margin-top: 1px;
    margin-right: 1px;
    width: 14px;
    height: 14px;
  }
}
.basicPageComponent .loginInputContainer {
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 400px;
  height: 130px;
  border-radius: 20px;
}
.basicPageComponent .loginInputContainer .inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 60px;
}
.basicPageComponent .loginInputContainer .inputContainer .loginInput {
  width: 200px;
  height: 30px;
  padding: 0px 10px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid #555555;
}
.basicPageComponent .loginButton {
  width: 400px;
  height: 30px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #555555;
  background-color: #232323;
  color: #d2f769;
  font-size: 18px;
}
.basicPageComponent .loginButton:hover {
  cursor: pointer;
  background-color: #2b2b2b;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  background-color: #232323;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #555555;
  z-index: 1;
}
@media screen and (max-width: 500px) {
  footer {
    height: 35px;
  }
}
footer .sunImage {
  height: 30px;
  margin-left: 10px;
  margin-top: 6px;
}
@media screen and (max-width: 900px) {
  footer .sunImage {
    margin-top: -4px;
    height: 22px;
  }
}
@media screen and (max-width: 500px) {
  footer .sunImage {
    margin-top: -4px;
    height: 18px;
  }
}
footer .serverSpaceText,
footer .nextSunnyDayTextContainer {
  font-size: 18px;
  color: #d2f769;
  margin-left: 40px;
  margin-right: 10px;
}
footer .serverSpaceText.serverSpaceText, footer .serverSpaceText.nextSunnyDayTextContainer,
footer .nextSunnyDayTextContainer.serverSpaceText,
footer .nextSunnyDayTextContainer.nextSunnyDayTextContainer {
  z-index: 2;
  bottom: 2px;
  right: 2px;
  font-size: 12px;
  align-self: center;
  color: white;
  margin-left: 10px;
}
footer .serverSpaceText.serverSpaceText.nextSunnyDayTextContainer, footer .serverSpaceText.nextSunnyDayTextContainer.nextSunnyDayTextContainer,
footer .nextSunnyDayTextContainer.serverSpaceText.nextSunnyDayTextContainer,
footer .nextSunnyDayTextContainer.nextSunnyDayTextContainer.nextSunnyDayTextContainer {
  left: 2px;
  bottom: 5px;
  display: flex;
  flex-direction: row;
}
footer .serverSpaceText.serverSpaceText.nextSunnyDayTextContainer .nextSunnyDayText, footer .serverSpaceText.nextSunnyDayTextContainer.nextSunnyDayTextContainer .nextSunnyDayText,
footer .nextSunnyDayTextContainer.serverSpaceText.nextSunnyDayTextContainer .nextSunnyDayText,
footer .nextSunnyDayTextContainer.nextSunnyDayTextContainer.nextSunnyDayTextContainer .nextSunnyDayText {
  font-size: 14px;
}
@media screen and (max-width: 900px) {
  footer .serverSpaceText.serverSpaceText, footer .serverSpaceText.nextSunnyDayTextContainer,
  footer .nextSunnyDayTextContainer.serverSpaceText,
  footer .nextSunnyDayTextContainer.nextSunnyDayTextContainer {
    font-size: 2.2vh;
    margin-left: 2%;
    text-wrap: nowrap;
  }
  footer .serverSpaceText.serverSpaceText.serverSpaceText, footer .serverSpaceText.serverSpaceText.nextSunnyDayTextContainer, footer .serverSpaceText.nextSunnyDayTextContainer.serverSpaceText, footer .serverSpaceText.nextSunnyDayTextContainer.nextSunnyDayTextContainer,
  footer .nextSunnyDayTextContainer.serverSpaceText.serverSpaceText,
  footer .nextSunnyDayTextContainer.serverSpaceText.nextSunnyDayTextContainer,
  footer .nextSunnyDayTextContainer.nextSunnyDayTextContainer.serverSpaceText,
  footer .nextSunnyDayTextContainer.nextSunnyDayTextContainer.nextSunnyDayTextContainer {
    align-self: center;
    color: white;
    margin-left: 10px;
  }
  footer .serverSpaceText.serverSpaceText.serverSpaceText .nextSunnyDayText, footer .serverSpaceText.serverSpaceText.nextSunnyDayTextContainer .nextSunnyDayText, footer .serverSpaceText.nextSunnyDayTextContainer.serverSpaceText .nextSunnyDayText, footer .serverSpaceText.nextSunnyDayTextContainer.nextSunnyDayTextContainer .nextSunnyDayText,
  footer .nextSunnyDayTextContainer.serverSpaceText.serverSpaceText .nextSunnyDayText,
  footer .nextSunnyDayTextContainer.serverSpaceText.nextSunnyDayTextContainer .nextSunnyDayText,
  footer .nextSunnyDayTextContainer.nextSunnyDayTextContainer.serverSpaceText .nextSunnyDayText,
  footer .nextSunnyDayTextContainer.nextSunnyDayTextContainer.nextSunnyDayTextContainer .nextSunnyDayText {
    font-size: 12px;
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  footer .serverSpaceText.serverSpaceText, footer .serverSpaceText.nextSunnyDayTextContainer,
  footer .nextSunnyDayTextContainer.serverSpaceText,
  footer .nextSunnyDayTextContainer.nextSunnyDayTextContainer {
    font-size: 1vh;
    margin-left: 2%;
  }
  footer .serverSpaceText.serverSpaceText.serverSpaceText, footer .serverSpaceText.serverSpaceText.nextSunnyDayTextContainer, footer .serverSpaceText.nextSunnyDayTextContainer.serverSpaceText, footer .serverSpaceText.nextSunnyDayTextContainer.nextSunnyDayTextContainer,
  footer .nextSunnyDayTextContainer.serverSpaceText.serverSpaceText,
  footer .nextSunnyDayTextContainer.serverSpaceText.nextSunnyDayTextContainer,
  footer .nextSunnyDayTextContainer.nextSunnyDayTextContainer.serverSpaceText,
  footer .nextSunnyDayTextContainer.nextSunnyDayTextContainer.nextSunnyDayTextContainer {
    margin-left: 0px;
    margin-top: -3px;
    align-items: flex-start;
  }
  footer .serverSpaceText.serverSpaceText.serverSpaceText .nextSunnyDayText, footer .serverSpaceText.serverSpaceText.nextSunnyDayTextContainer .nextSunnyDayText, footer .serverSpaceText.nextSunnyDayTextContainer.serverSpaceText .nextSunnyDayText, footer .serverSpaceText.nextSunnyDayTextContainer.nextSunnyDayTextContainer .nextSunnyDayText,
  footer .nextSunnyDayTextContainer.serverSpaceText.serverSpaceText .nextSunnyDayText,
  footer .nextSunnyDayTextContainer.serverSpaceText.nextSunnyDayTextContainer .nextSunnyDayText,
  footer .nextSunnyDayTextContainer.nextSunnyDayTextContainer.serverSpaceText .nextSunnyDayText,
  footer .nextSunnyDayTextContainer.nextSunnyDayTextContainer.nextSunnyDayTextContainer .nextSunnyDayText {
    font-size: 1vh;
    margin: 0;
  }
}/*# sourceMappingURL=app.css.map */